data/test_strict_dev.csv filter=lfs diff=lfs merge=lfs -text
data/train.csv filter=lfs diff=lfs merge=lfs -text
data/val_strict_audioseal.csv filter=lfs diff=lfs merge=lfs -text
data/val_strict.csv filter=lfs diff=lfs merge=lfs -text
data/air.csv filter=lfs diff=lfs merge=lfs -text
data/air_val.csv filter=lfs diff=lfs merge=lfs -text
data/test.csv filter=lfs diff=lfs merge=lfs -text
data/test_dev.csv filter=lfs diff=lfs merge=lfs -text
data/demand_val.csv filter=lfs diff=lfs merge=lfs -text
data/val_dev.csv filter=lfs diff=lfs merge=lfs -text
data/demand_train.csv filter=lfs diff=lfs merge=lfs -text
data/test_loose.csv filter=lfs diff=lfs merge=lfs -text
data/val_loose_audioseal.csv filter=lfs diff=lfs merge=lfs -text
data/test_perceptual.csv filter=lfs diff=lfs merge=lfs -text
data/test_strict.csv filter=lfs diff=lfs merge=lfs -text
data/train_dev.csv filter=lfs diff=lfs merge=lfs -text
data/val.csv filter=lfs diff=lfs merge=lfs -text
data/air_test.csv filter=lfs diff=lfs merge=lfs -text
data/air_train.csv filter=lfs diff=lfs merge=lfs -text
data/demand_test.csv filter=lfs diff=lfs merge=lfs -text
data/test_loose_dev.csv filter=lfs diff=lfs merge=lfs -text
data/val_loose.csv filter=lfs diff=lfs merge=lfs -text
